[submodule "assets/bootstrap"]
	path = assets/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "assets/icons"]
	path = assets/icons
	url = https://github.com/twbs/icons
[submodule "assets/jquery"]
	path = assets/jquery
	url = https://github.com/jquery/jquery
