{% extends 'common/base/public_view.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Django TodoList</h1>
      <p class="lead">This is a simple todo list project with django!</p>
      <hr class="my-4">
      <p>Use if do you wanna practice with an existent base project, or if do you need property service to create an app.</p>
      <a class="btn btn-primary" href="https://github.com/AleejandroReyna/django-todolist" target="_blank"
         role="button"><i class="bi bi-github"></i> Go to Github</a>
    </div>
<div class="container">
    <div class="row">
        <div class="col text-center mb-5">
            <h3>Get started!</h3>
            <small>Step by Step guide to run Django Todo list</small>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <h4>Step 01:</h4>
            <p class="mb-4">Clone the repo <a href="https://github.com/AleejandroReyna/django-todolist">here</a>.</p>
            
            <h4>Step 02:</h4>
            <p class="mb-4">Clone the submodules. <a href="https://git-scm.com/book/en/v2/Git-Tools-Submodules">Guide here</a></p>
            
            <h4>Step 03:</h4>
            <p class="mb-5">Give me a <i class="bi bi-star-fill"></i> on
                <a href="https://github.com/AleejandroReyna/django-todolist" target="_blank">Github <i class="bi bi-github"></i></a>.</p>
            
            <h3>With Docker Compose (Recommended method)</h3>
            <hr class="my-4">
            
            <h4>Step 04:</h4>
            <p class="mb-4">Install <a href="https://docs.docker.com/engine/install/">Docker</a></p>
            
            <h4>Step 05:</h4>
            <p class="mb-4">Copy <code>.env.example</code> and rename to <code>.env</code></p>
            
            <h4>Step 06:</h4>
            <p class="mb-4">Set values for .env file (Instructions in file)</p>
            
            <h4 id="final-step-">Final Step:</h4>
            <p class="mb-5">Run <code>docker-compose up</code> and that's all!</p>
            
            <h3>Manual Installation</h3>
            <hr class="my-4">
            
            <h4>Step 04:</h4>
            <p class="mb-4">Install <a href="https://www.python.org/downloads/">Python</a> and <a href="https://virtualenv.pypa.io/en/latest/">VirtualEnv</a> for run this project.</p>
            
            <h4>Step 05:</h4>
            <p class="mb-4">Generate virtualenv for project using <code>python3 -venv ./venv</code></p>
            
            <h4>Step 06:</h4>
            <p class="mb-4">Activate virtualenv for project. (<code>source venv/bin/activate</code> on linux or macOS, <code>.\venv\Scripts\activate</code> on Windows.)</p>
            
            <h4>Step 07:</h4>
            <p class="mb-4">Install the dependencies in <code>requirements.txt</code></p>
            
            <h4>Step 08:</h4>
            <p class="mb-4">Define environment variables described in .env.example in your environment. (You can use <code>export MY_VARIABLE=my_value</code> on linux and macOS, <code>set MY_VARIABLE=my_value</code> with CMD and <code>$env:MY_VARIABLE=my_value</code> with Powershell).</p>
            
            <h4>Step 09:</h4>
            <p class="mb-4">Run the command: <code>python manage.py migrate</code></p>
            
            <h4>Final Step:</h4>
            <p class="mb-5">That&#39;s all! Run the command <code>python manage.py runserver</code></p>

        </div>
    </div>
</div>
{% endblock %}