{% extends 'common/base/public_view.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Django TodoList</h1>
      <p class="lead">This is a simple todo list project with django!</p>
      <hr class="my-4">
      <p>Use if do you wanna practice with an existent base project, or if do you need property service to create an app.</p>
      <a class="btn btn-primary" href="https://github.com/AleejandroReyna/django-todolist" target="_blank"
         role="button"><i class="bi bi-github"></i> Go to Github</a>
    </div>
<div class="container">
    <div class="row">
        <div class="col text-center mb-5">
            <h3>How to Use Django TodoList?</h3>
            <small>Step by Step guide to run Django Todo list</small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Step 01:</h4>
            <p class="mb-4">Install <a href="https://www.python.org/downloads/" target="_blank">Python</a> and
                <a href="https://virtualenv.pypa.io/en/latest/" target="_blank">VirtualEnv</a> for run this project.</p>
            
            <h4>Step 02:</h4>
            <p class="mb-4">Clone the repo <a href="https://github.com/AleejandroReyna/django-todolist" target="_blank">here</a>.</p>

            <h4>Step 03:</h4>
            <p class="mb-4">Clone the submodules. <a href="https://git-scm.com/book/en/v2/Git-Tools-Submodules" target="_blank">Guide here</a></p>

            <h4>Step 04:</h4>
            <p class="mb-4">Install the dependencies in <code>requirements.txt</code></p>

            <h4>Step 05:</h4>
            <p class="mb-4">Run the command: <code>python manage.py migrate</code></p>

            <h4>Step 06:</h4>
            <p class="mb-4">Give me a <i class="bi bi-star-fill"></i> on
                <a href="https://github.com/AleejandroReyna/django-todolist" target="_blank">Github <i class="bi bi-github"></i></a>.</p>

            <h4>Step 07:</h4>
            <p class="mb-4">That's it all! Run the command <code>python manage.py runserver</code></p>
        </div>
    </div>
</div>
{% endblock %}