{% extends 'common/base/public_view.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Django TodoList</h1>
      <p class="lead">This is a simple todo list project with django!</p>
      <hr class="my-4">
      <p>Use if do you wanna practice with an existent base project, or if do you need property service to create an app.</p>
      <a class="btn btn-primary" href="https://github.com/AleejandroReyna/django-todolist" target="_blank"
         role="button"><i class="bi bi-github"></i> Go to Github</a>
    </div>
{% endblock %}