{% extends 'common/base/public_view.html' %}
{% load widget_tweaks %}
{% block title %}Sign Up {% endblock %}

{% block content %}

<section class="content mt-4 mb-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-header  text-center">
                        Sign Up
                    </div>
                    <div class="card-body">
                        <form action="." method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.label }}
                                    {% render_field field class+='form-control' %}
                                    {% if field.help_text %}
                                        <div class="form-text text-muted">
                                            {{ field.help_text }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}