<article class="card mb-4">
    <section class="card-header d-flex align-items-center justify-content-between">
        <h6>{{ task.name }}</h6>
        <div>
            <a href="{% url 'tasks:task_detail' task_id=task.pk %}" class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>
        </div>
    </section>
    <section class="card-body">
        <p>{{task.content}}</p>
    </section>
    <section class="card-footer text-center">
        <div class="btn-group">
            {% if not task.status == 'todo' %}
                <a href="{% url 'tasks:task_go_back' task_id=task.id %}"
                   class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i></a>
            {% endif %}
            {% if not task.status == 'done' %}
                <a href="{% url 'tasks:task_go_next' task_id=task.id %}"
                   class="btn btn-outline-secondary"><i class="bi bi-chevron-right"></i></a>
            {% endif %}
        </div>
    </section>
</article>